.cartProduct{
    display: flex;
    margin-top: 15px !important;
    margin-left: 30px;
    align-items: center;
    border-bottom:  1px solid lightgray;
    padding-bottom: 10px;
    margin: 0 25px 0 25px;
}

.cartProduct_left{
    margin-left: -10px;
    padding: 10px;
}

.cartProduct_left > img{
    object-fit: center;
    max-width: 140px;
    max-height: 140px;
}

.cartProduct_right{
    align-items: center;
    position: absolute;
    left: 13%;
    right: 40%;
}

.cartProduct_info{
    padding-left: 20px;
    margin-top: -10px;
}


.cartP_price{
    display: flex;
    justify-content: space-between;
}

.cartProduct_title{
    margin-right: 130px;
}

.nal{
    margin-right: -170px;
}

.button_cartProduct{
    background: rgb(255, 210, 8);
    border: 1px solid rgb(255, 210, 8);
    margin-top: 10px;
    border-radius: 3px;
    min-width: 100px;
    min-height: 30px;
    color: #111;
    cursor: pointer;
}

.button_cartProduct:hover{
    background: #f5b20a;
}

.cartProduct_rating{
    display: flex;
}

hr{
    border: 1px solid;
}