.home{
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 65px;
}

.home_image{
    width: 116%;
    z-index: -1;
    margin-top: -15px;
    height: auto;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}


.home_data{
    position: absolute;
    top: 52%;
    left: 3%;
}

.home_row{
    display: flex;
    z-index: 1;
    margin-right: 28px;
    margin-left: -8px;
    color: #000;
}